<div class="row">
<div class="col-lg-6">
  <div class="custom-media d-flex">
    <div class="img mr-4">
      <img src="{{ph_player.path}}" alt="Image" class="img-fluid">
    </div>
    <div class="text">
      <span class="meta">{{ph_player.date}}</span>
      <h3 class="mb-4"><a href="#">{{ph_player.titre}}</a></h3>
      <p>{{ph_player.description}}</p>
      <p><a href="#">Read more</a></p>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="custom-media d-flex">
    <div class="img mr-4">
      <img src="{{ph_player.path}}" alt="Image" class="img-fluid">
    </div>
    <div class="text">
      <span class="meta">{{ph_player.date}}</span>
      <h3 class="mb-4"><a href="#">{{ph_player.titre}}</a></h3>
      <p>{{ph_player.description}}</p>
      <p><a href="#">Read more</a></p>
    </div>
  </div>
</div>
</div>
